@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Poppins', 'Helvetica', serif;
}

header{
    background-color: #309cbd;
    color: rgb(255, 255, 255);
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 1px 9px 8px rgb(218, 215, 215);
}

.jumbotron{
    padding-top: 2rem;
    padding-left:0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #d6edf6;
}

img{
    width: 200px;
}

.contact{
    background-color: #d6edf6;
}

span{
    font-size: 18px;
}

.ask a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: #309cbd;
}

p a{
    color: white;
}




